/*
//  styles.css
//  
//
//  Created by Manoj Karki on 5/2/20.
*/
/* resetting browser stuff */
*     {
  box-sizing: border-box;
}
html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}

/* styling our overall page */
body     {
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling our header */
header   {
  background: #222;
  color: #FFF;
  padding: 20px 70px;
}

/* logo */
header #logo         {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  width: 19%;
}
header #logo img    {
  width: 75px;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
}
header #logo span   {
  display: inline-block;
}

/* main navigation */
header #main-navigation {
  width: 79%;
  display: inline-block;
  text-align: right;
}
header #main-navigation ul   {
  list-style: none;
  padding: 0
  margin: 0;
}
header #main-navigation ul li {
  display: inline-block;
}
header #main-navigation ul li a    {
  color: #FFF;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
  /*transition: 0.3s ease all;*/
}
header #main-navigation ul li a:hover   {
  background: #444;
}
header #main-navigation ul li a.selected   {
 border-bottom: 3px solid #ef7701;
 text-decoration: none;
}


.wrapper {
    padding: 40px 40px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}

.description {
    margin-bottom: 40px;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 20px;
    text-align: center;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 0;
}

.tag-list {
    margin-bottom: 15px;
    text-align: center;
}

.tag-list-swift {
    margin-bottom: 15px;
}

.tag-list-swiftui {
    margin-bottom: 15px;
}

.tag-list-combine {
    margin-bottom: 15px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #000;
    color: #ddd;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list-swift li,
.tag {
    display: inline-block;
    background-color: #000;
    color: #f67634;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list-swiftui li,
.tag {
    display: inline-block;
    background-color: #000;
    color: #00a2ff;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list-combine li,
.tag {
    display: inline-block;
    background-color: #000;
    color: #9d2a86;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.tag-list-swift a,
.tag a {
    text-decoration: none;
}

.tag-list-swiftui a,
.tag a {
    text-decoration: none;
}

.tag-list-combine a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin: 40px;    
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
}

footer {
    color: #8a8a8a;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
    }

    body,
    header .site-name {
        color: #ddd;
    }

    .item-list > li {
        background-color: #333;
    }

    header {
        background-color: #000;
    }
}


/* responsive */
/* mobile devices */

@media screen and (max-width:640px) {
  body   {
    font-size: 14px;
  }

  /* header responsive */
  header #logo   {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  header #main-navigation     {
    display: block;
    width: 100%;
    text-align: center;
  }
  header #main-navigation a   {
    font-size: 12px;
  }
  .wrapper {
      padding: 40px 20px;
  }
}

@media screen and (max-width:460px) {
  body   {
    font-size: 14px;
  }

  /* header responsive */
  header #logo   {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  header #main-navigation ul    {
    padding: 0px;
    margin: 0px;
  }
  header #main-navigation ul li {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .wrapper {
      padding: 40px 20px;
  }
}

/*Syntax highlight*/

pre {
    margin-bottom: 1.5em;
    background-color: #1a1a1a;
    padding: 16px 0;
    border-radius: 16px;
}

pre code {
    font-family: monospace;
    display: block;
    padding: 0 20px;
    color: #a9bcbc;
    line-height: 1.4em;
    font-size: 0.95em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
}

:root {
    color-scheme: light dark;
}

/* light colors */
pre code .keyword { color: #9b2393; }
pre code .type { color: #0b4f79; }
pre code .call { color: #326d74; }
pre code .property { color: #326d74; }
pre code .number { color: #1c00cf; }
pre code .string { color: #c41a16; }
pre code .comment { color: #5d6c79; }
pre code .dotAccess { color: #326d74; }
pre code .preprocessing { color: #643820; }

/* dark colors */
pre code .keyword { color: #fc5fA3; }
pre code .type { color: #5dd8ff; }
pre code .call { color: #67b7a4; }
pre code .property { color: #67b7a4; }
pre code .number { color: #d0bf69; }
pre code .string { color: #fc6a5d; }
pre code .comment { color: #6c7986; }
pre code .dotAccess { color: #67b7a4; }
pre code .preprocessing { color: #fd8f3f; }
